.formRowsContainer {
    grid-template-columns: 55px 4fr 1fr 1fr;
    

}

 /* .line{
    background-color: var(--darkBlue);
    position: relative;
    left: 550px;
    top: 1074px;
    width: 1.5px;
    height: 1074px;
     
 } */
.formRowsContainerDesFormEdit{
    grid-template-columns: 25px 20% 13% 13% 16% 10% 10%;  
    gap: 2.3%;
} 

/* .DESDropboxDataForm {
    grid-template-columns: 13% 16% 10% 10%;
    gap: 2%;
} */
.formRowsContainerDesFormEdit p {
    font-size: 12px;
}

.inputDate{
    font-size: 12px;
    text-transform: uppercase;
    background: none;
   color: var(--darkBlue);
}

.inputDate:hover{
    cursor: pointer;
}

.inputDate::-webkit-calendar-picker-indicator{
    display: none;
}

.inputDate::-webkit-datetime-edit{
    text-align: center;
}

.dropboxFolderNames{
    margin-left: 50px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .formRowsContainerDesFormEdit {
        display:grid;
        gap: 1.5%;
        grid-template-columns: 25px 22% 15% 13% 15% 10% 10%; ;
    }
    .formRowsContainerDesFormEdit p {
        font-size: 12px;
    }
    .dropboxFolderNames {
        margin: 0 20px;
    }
    .dropboxFolderNames p {
        font-size: 10px;
    } 
  }

@media only screen and (max-width: 768px) {
    .formRowsContainerDesFormEdit {
        display:grid;
        gap: 1.5%;
        grid-template-columns: 25px 22% 15% 13% 15% 10% 10%; ;
    }
    .formRowsContainerDesFormEdit p {
        font-size: 10px;
    }
    .dropboxFolderNames {
        margin-left: 11.5px;
    }
    .dropboxFolderNames p {
        font-size: 10px;
    } 
  
  }



